body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    height: fit-content;
    margin: 0;
    text-align: center;
    
}
h1{
    font-size: 3.5em;
    font-weight: 900;
    color: #17130D;
    margin: 0;
}
h2{
   
    font-size: 3em;
    font-weight: 700;
        color: #17130D;
        margin: 0;
        margin-bottom: 4vh;
}
.blue-h3 {
    font-size: 2.6em;
        font-weight: 900;
        color: #066083;
        
}
p {
    font-size: large;
    margin: 0;
    margin-top: 1em;
    text-align: left;
}
a {
    text-decoration: none;
}

#navigation-bar{
    
    z-index: 50;
    background-color: white;
    display: inline;
    overflow: hidden;
    /* background-color: purple; */
    display: block;      
        height: 5em;
        width: 100vw;
        position: fixed;
        text-align: center;
        padding-top: 5px;
        top: 0;
}
@media screen and (max-width: 1200px) {
    #navigation-bar {
        display: none;
    }
    
}
#logo-nav{
    width: 136px;
    left: 5vw;
    top: 0.5vh;
    position: absolute;
}
#logo-nav:hover {
    opacity: 0.6;
}
#nav-links {
    position: absolute;
    right: 5vw;
    top: 3vh;
}
.nav-link{
    padding-left: 1.3em;
}
.nav-link a {
    color: black;
}
.nav-link a:hover {
    font-weight: 600;
}

.button-nav{
    background-color: #066083;
    border: none;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius: 35px;
    font-weight:  600;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.button-nav:hover {
    background-color: black;
 }


#fold{
    /* height: 100vh; */
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 4vh;
}
#hero-section-grid {
    align-items: center;
    display: grid;
    width: 85vw;
    grid-template-columns: 50% 50%;
    text-align: left;
   
}

#hero-image {
    position: relative;
    width: 35vw;
    display: inline-block;
    z-index: 10;
}
#hero-section-grid-wrapper{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
}
.teal-button {
    background-color: #066083;
    border: 2px solid #066083 ;
    padding-left: 2.5em;
    padding-right: 2.5em;
    width: 18em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 35px;
    font-weight: 600;
    color: white;
    margin-top: 2em;
    margin-right: 2em;
    font-family: 'Montserrat', sans-serif;
}
.teal-button:hover {
    background-color: black;
    border: 2px solid black;
}
.naked-button {
    background-color: white;
    border: 2px solid black;
    width: 18em ;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 35px;
    font-weight: 600;
    color: black;
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
}
.naked-button:hover {
    background-color: black;
    color: white;
}
#motif-behind-hero-1{
    width: 20em;
    left: 0;
    bottom: 0;
    position: absolute;    
    z-index: 5;
}
#motif-behind-hero-2 {
    width: 20em;
    position: absolute;
    right: 0;
    top: 0;   
    z-index: 1;
}
#hero-section-column-2{
    text-align: right;
}
.brand-logo-section h4 {
    margin-top: 4em;
}

#brand-logos-mobile {
    display: none;
}



#on-ground-data-section{
    width: 100vw;
    text-align: center;
    margin-top: 9em ;
}
.body-text-container {
    margin-left: 10vw;
    margin-right: 10vw;
    z-index: 4;
}
.body-text-container h2 {
    margin-top: 1.5em;
}


#on-ground-cards-grid{
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    /* width: 75vw; */
    margin-top: 4em;
}
.on-ground-card {
    width: 24vw;
}

#closer-look-section {
    height: 98vh;
    width: 100vw;
    display: grid;
    margin-top: 4em;
}
#closer-look-section h2 {
    color: white;
}
#closer-look-section p {
    color: white;
}
#closer-look-background {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}
#closer-look-overlay {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    background-color: #001016;
    opacity: 0.8;
}
#closer-look-content {
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    position: relative;
    top: 40%;
        translate: transformY(-25%);
        -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
}
#grow-company-grid {
    display: inline-grid;
    grid-template-rows: 16% 16% 16% 16% 16% 16%   ;
    grid-template-columns: 10% 90%;    
    row-gap: 2em;
    column-gap: 1em;
    justify-content: space-between;
    align-content: center;
    margin-top: e6m;
    /* margin-left: 3em; */

}
#grow-company-grid p{
    margin: 0;

}

.teal-bullet-point {
    width: 2em;
    margin-right: 1em;
}
#pricing-section {
    display: grid;
    width: 100vw;
    margin-top: 4em;
    
}
#light-teal-background-pricing {
    background-color: #3885A3;
    opacity: 0.07;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    padding-bottom: 10em;
    
}
#motif-behind-pricing-1 {
    width: 20em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    grid-row: 1;
    grid-column: 1;
}
#motif-behind-pricing-2 {
    width: 20em;
    position: relative;
    top: 100%;
    left: 100%;
    z-index: 2;
    grid-row: 1;
        grid-column: 1;    
        translate: transformX(-100%);
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
}
#pricing-section-content {
    grid-row: 1;
    grid-column: 1;
   
}
#price-cards-grid {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    margin-top: 4em;

}
.price-card {
    width: 27em;
}
.price-card:hover {
    opacity: 0.7;
}
#past-clients-grid {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 4em;

}
.past-client-card {
    width: 24em;
    z-index: 6;
}
#other-industries-section {
    display: inline-block;
    text-align: center;
    margin-bottom: 4em;
     
    display: inline-block
}
#other-industries-section p {
    text-align: left;
 
}
.other-industries-bullet-point {
    width: 1.5em;
    margin-right: 1em;
    translate: transformY(25%);
        -webkit-transform: translateY(25%);
        -ms-transform: translateY(25%);
}

#techstars-logo {
    width: 15em;
}
#ready-to-rwazi-section{
    margin-top: 10em;
}
#ready-to-rwazi-grid {
    display: inline-grid;
    width: 90vw;
    grid-template-columns: 50% 50%;
}
#ready-to-rwazi-hero {
    width: 30em;
    display: inline-block;
    text-align: right;
    margin-left: 2em;
}
#ready-to-rwazi-text-section {
    text-align: left;
    /* top: 50%;
    translate: transformY(25%);
        -webkit-transform: translateY(25%);
        -ms-transform: translateY(25%); */
}

@media screen and (max-width: 1200px) {
    
    #hero-section-grid {
        grid-template-columns: 100%;
        margin-top: 10vh;
    }
    #on-ground-data-section p {
        text-align: center;
    }
    #product-type-section p {
        text-align: center;
    }
    #pricing-section p {
        text-align: center;
    }

    #hero-section-column-2 {
        text-align: center;
        margin-top: 3em;
    }

    #hero-image {
        position: relative;
        width: 75vw;
        display: inline-block;
        z-index: 10;
    }
        #motif-behind-hero-2 {
            display: none;
        }

    #brand-logos-mobile {
        display: inline-block;
        width: 18em;
        margin-right: 5vw;
    }

    #brand-logos {
        display: none;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.5em;
    }
    .blue-h3 {
            font-size: 1.2em;
            font-weight: 600;
            color: #066083;
        }
    #techstars-logo {
        width: 10em;
     }

    .body-text-container {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    #on-ground-cards-grid {
        display: inline-grid;
        grid-template-columns: 100%;
        width: 80vw;
        margin-top: 4em;
        justify-items: center;
    }

    .on-ground-card {
        position: relative;
        display: inline-block;
        width: 20em;

    }

    
    #price-cards-grid {
            display: inline-grid;
            grid-template-columns: 100%;
            margin-top: 4em;
    
    }
    .price-card {
        width: 20em;
    }
    #past-clients-grid {
            display: inline-grid;
            grid-template-columns: 100%;
          
    
     }
     .past-client-card {
        width: 20em;

}
#closer-look-section {
    height: 120vh;
}
#closer-look-body-text-container h2{
    margin-top: 0;
}
.teal-button {
    margin-right: 0;  
        padding-left: 2em;
        padding-right: 2em;
        width: 14em;
        padding-top: 0.4em;
        padding-bottom: 0.4em;              
        margin-top: 1em;
       


}
    .naked-button {
        margin-right: 0;
            padding-left: 2em;
            padding-right: 2em;
            width: 14em;
            padding-top: 0.4em;
            padding-bottom: 0.4em;        
            margin-top: 1em;
            
    }
        #ready-to-rwazi-grid {
            display: inline-grid;
            justify-items: center;
            grid-template-columns: 100%;
            margin-bottom: 10vh;
        }
        #ready-to-rwazi-hero {
                    width: 20em;
                    display: inline-block;
                    text-align: center;
                    margin-left: 2em;
        }
        
        #ready-to-rwazi-text-section {
            
                    text-align: center;
                    top: 50%;
                    translate: transformY(25%);
                    -webkit-transform: translateY(25%);
                 -ms-transform: translateY(25%);
        }
        #fold {
                    /* height: 100vh; */
                    display: block;
                    align-items: center;
                    text-align: center;
                    padding-top: 4vh;
                }
                #ready-to-rwazi-section {
                    margin-top: 5em;
                }

}

#footer {
    background-color: black;
    color: white;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 5vw;
}

#footer-links-grid {
    display: grid;
    width: 60vw;
    margin-left: 5vw;
    grid-template-columns: 33% 33% 33%;
    text-align: left;
}

@media screen and (max-width: 900px) {
    #footer-links-grid {
        grid-template-columns: 50% 50%;
        width: 90vw;
        text-align: left;
    }

}

#footer h4 {
    font-weight: 400;
    margin-bottom: 0.1em;
}

#footer h4:hover {
    font-weight: 600;
}

#footer h3 {
    text-align: center;
    margin: 0;
    margin-top: 2em;


    font-weight: 600;
}

#footer a {
    color: white;
}

#footer h3:hover {
    font-weight: 300;
}

#copyright-rwazi {
    color: #6692A4;
    margin-top: 0;

}